<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


		<!-- mappings for annotated classes -->
  		<mapping class="com.tcl.sample.beans.SsoApplications" />
 		<mapping class="com.tcl.sample.beans.SsoCategories" />
	
	
	</session-factory>
</hibernate-configuration>